h1, h2, h3{
    text-decoration: underline;
    text-transform: uppercase;
}

div > li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkorange;
}

/* div > ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
} */